@mixin for-small-mobile {
    @media (max-width: 320px) and (min-width: 375px) { @content; }
  }
  @mixin for-medium-mobile {
    @media (min-width: 375px) { @content; }
  }
  
  @mixin for-large-mobile{
    @media (min-width: 426px) { @content; }
  }
  
  @mixin for-tablet{
    @media (min-width: 768px) { @content; }
  }
  
  @mixin for-laptop{
    @media (min-width: 1024px) { @content; }
  }
  
  @mixin for-large-laptop{
    @media (min-width: 1440px) { @content; }
  }
  
  @mixin for-4k-laptop{
    @media (min-width: 2560px) { @content; }
  }
