nav{

  @include for-small-mobile{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: $azul;
  }

  @include for-laptop{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: $azul;
  }
  
}

.contenedor_menu{
  position: absolute;
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  
}

.menu{

  @include for-small-mobile{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    
  }

  @include for-laptop{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
}

.item_menu{

  @include for-small-mobile{
    a{
      color: white;
      text-decoration: none;
    }
  }

  @include for-laptop{
    padding: 10px;

      a{
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
  }
  
}